<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>파일 올리기</title>
</head>
<body>
	<!-- <form action="/FileUpload/temp" enctype="multipart/form-data" method="post"> -->
	<form action="http://localhost:8080/test/FileUpload/temp" enctype="multipart/form-data" method="post">
		<input type="text" name="boardNo" value="4"><br>
		<input type="text" name="userNo" value="1"><br>
		<input type="file" name="file" id="file" multiple="multiple"><br>
		<input type="submit" value="파일업로드">
	</form>
</body>
</html>